<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <pluginGroups>
    <pluginGroup>com.kirona.maven.plugins</pluginGroup>
    <pluginGroup>com.advanced.maven.plugins</pluginGroup>
  </pluginGroups>
  <servers>

    <server>
      <username>${env.MAVEN_USERNAME}</username>
      <password>${env.MAVEN_PASSWORD}</password>
      <id>releases</id>
    </server>
    <server>
      <username>${env.MAVEN_USERNAME}</username>
      <password>${env.MAVEN_PASSWORD}</password>  
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
      <enabled>true</enabled>
      </releases>       
          <id>releases</id>
          <name>maven-release</name>
          <url>https://advanced-592311462240.d.codeartifact.eu-west-2.amazonaws.com/maven/job-manager-release</url>
        </repository>
        <repository>
          <snapshots>
      <enabled>true</enabled>
      </snapshots>
          <releases>
      <enabled>false</enabled>
      </releases>     
          <id>snapshots</id>
          <name>maven-dev</name>
          <url>https://advanced-592311462240.d.codeartifact.eu-west-2.amazonaws.com/maven/job-manager-dev</url>
        </repository>
        <repository>
          <snapshots>
      <enabled>true</enabled>
      </snapshots>
          <releases>
      <enabled>true</enabled>
      </releases>       
          <id>vaadin-addons</id>
          <name>vaadin-addons</name>
          <url>http://maven.vaadin.com/vaadin-addons</url>
        </repository>   
 <repository>
        <id>smartbear-sweden-plugin-repository</id>
        <url>http://www.soapui.org/repository/maven2/</url>
    </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
      <enabled>true</enabled>
      </releases>       
          <id>releases</id>
          <name>maven-release</name>
          <url>https://advanced-592311462240.d.codeartifact.eu-west-2.amazonaws.com/maven/job-manager-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots>
      <enabled>true</enabled>
      </snapshots>
          <releases>
      <enabled>false</enabled>
      </releases>       
          <id>snapshots</id>
          <name>maven-dev</name>
          <url>https://advanced-592311462240.d.codeartifact.eu-west-2.amazonaws.com/maven/job-manager-dev</url>
        </pluginRepository>
      </pluginRepositories>
      <id>kirona-development-team</id>
    </profile>
  </profiles>
  <activeProfiles>
  <activeProfile>kirona-development-team</activeProfile>
  </activeProfiles>
  <mirrors>
    <mirror>
      <id>maven-default-http-blocker</id>
      <mirrorOf>dummy</mirrorOf>
      <name>Dummy mirror to override default blocking mirror that blocks http</name>
      <url>http://0.0.0.0/</url>
    </mirror>
  </mirrors>
</settings>
